body {
    background-image: url('../images/logo.jpg');
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* font-family: 'Roboto', sans-serif; */

    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    /* justify-content: center; */
}

.drawingCursor {
    cursor: url('../cursors/pencil.png'), auto;
}

.eraserCursor {
    cursor: url('../cursors/eraser.png'), auto;
}

:root {
    --button-color: rgb(25, 25, 25);
    --button-text-color: rgb(211, 116, 255);
    --button-active-color: rgb(9, 95, 0);
}

button {
    background-color: var(--button-color);
    color: var(--button-text-color);
    font-style: bold;
    font-size: 30px;
}

button:hover,
.custom-file-upload:hover,
input[type="color"]:hover,
input[type="range"]:hover {
    opacity: 0.8;
    cursor: pointer;
    color: rgb(0, 255, 13);
}

button:hover {
    background-color: rgb(61, 61, 61);
}

#fillModeBtn.active {
    background-color: var(--button-active-color);
}

#symmetry.active {
    background-color: var(--button-active-color);
}
#eyedropperBtn.active {
    background-color: var(--button-active-color);
}

.parent-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.button-column {
    display: flex;
    flex-direction: column;
    max-height: 600px;
    margin-bottom: 5px;
    overflow-y: auto; 
}
.tools-column {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.color-picker-group{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tools {
    color: var(--button-text-color);
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}



.opacity {
    width: 200px;
    height: 20px;
}



.tools-column input[type="range"] {
    width: 60%;
}

.UploadButton {
    margin-bottom: 10px;
    flex-direction: column;
    align-items: center;
}

canvas {
    border-radius: 20px;
}
.canvas-and-sliders {
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; */
}
/* 
.container {
    border-radius: 20px;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    width: 80%;
    height: 80%;
} */

.custom-file-upload {
    background-color: var(--button-color);
    color: var(--button-text-color);
    padding: 10px;
    cursor: pointer;
}

#saveImageButton {
    background-color: var(--button-color);
    color: var(--button-text-color);
    padding: 10px;
    border: none;
    cursor: pointer;
}

.color-picker {
    display: flex;
    background-color: gold;
    margin-bottom: 10px;
}

.tools input,
.tools button {
    margin: 0 5px;
}

input[type="range"] {
    width: 50%;
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    background: #363535;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input[type="range"]:hover {
    opacity: 50;
}

input[type="range"] {
    width: 100%; 
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    background: #a204aa;
    cursor: pointer;
    border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: #04AA6D;
    cursor: pointer;
    border-radius: 50%;
}

.cursor-panel {
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: rgb(0, 0, 0);
    border: 1px solid #00ffe500;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 300px;
    overflow-y: auto;
}

.cursor-item {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
}

.cursor-preview {
    width: 32px;
    height: 32px;
    border: 1px solid #00cc4100;
    padding: 2px;
}

.cursor-item:hover .cursor-preview {
    border-color: hsl(69, 100%, 52%);
}


::-webkit-scrollbar {
    width: 5px;
} 

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: black;
    color:bisque;
    border-radius: 2.5px;
}

.input-value {
    color: red;
}
