body {
	background-image: url('../images/cancer.jpg');
	background-color: black;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;

	margin: 0;
	padding: 0;
	min-height: 100vh;
	display: flex;
	align-items: flex-start;
}

body {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

#canvas {
	cursor: url('cursors/pipette.png'), auto;
}

.drawingCursor {
	cursor: url('../cursors/pencil.png'), auto;
}

.eraserCursor {
	cursor: url('../cursors/eraser.png'), auto;
}

:root {
	--button-color: rgb(25, 25, 25);
	--button-text-color: rgb(211, 116, 255);
	--button-active-color: rgb(9, 95, 0);
}

button {
	background-color: transparent;
	color: var(--button-text-color);
	font-style: bold;
	font-size: 30px;
	border-radius: 20px;
	border: none;
}

button:hover,
.custom-file-upload:hover,
input[type="color"]:hover,
input[type="range"]:hover {
	cursor: none;
	color: rgb(0, 255, 13);
}


.base-container {
	display: flex;
	/* flex-direction: row; */
	height: 100vh;
	/* width: 100%; */
}


#fillModeBtn.active {
	background-color: var(--button-active-color);
}

#symmetry.active {
	background-color: var(--button-active-color);
}

#eyedropperBtn.active {
	background-color: var(--button-active-color);
}

a[href="index.html"] {
	/* Targets the <a> element with href="index.html" */
	font-size: 100px;
	/* Sets font size to 20 pixels */

}

a {
	text-decoration: none;
}


.sidebar {
	display: flex;
	flex-direction: column;
	max-height: 600px;
	/* margin-bottom: 5px; */
	overflow-y: auto;
}

.tools-column {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.tools {
	color: var(--button-text-color);
	flex-direction: column;
	align-items: center;
	margin-right: 10px;
}




canvas {
	border-radius: 20px;
}

.canvas-and-sliders {
	flex-direction: column;
	/* width: 100%; */
}

.canvas-container {
	/* position: relative; */
	/* display: flex; */
	justify-content: center;
	align-items: center;
	/* height: 100vh; */
	color: #ffffff;
	margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

#Quizz {
	font-family: 'Lobster', cursive;
	font-size: 24px;
	font-weight: bold;
}



.custom-file-upload {
	background-color: var(--button-color);
	color: var(--button-text-color);
	padding: 10px;
	cursor: pointer;
	align-content: center;
}

#saveImageButton {
	background-color: var(--button-color);
	color: var(--button-text-color);
	padding: 10px;
	border: none;
	cursor: pointer;
}

/* .color-picker {
	display: flex;
	background-color: gold;
	margin-bottom: 10px;
} */

.tools input,
.tools button {
	margin: 0 5px;
}



::-webkit-scrollbar {
	width: 5px;
	background-color: transparent;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: rgb(66, 0, 66);
	color: bisque;
	border-radius: 2.5px;
}

.input-value {
	color: red;
}





#drawingCanvas {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	touch-action: none;
}



.pressure-indicator {
	width: 400px;
	height: 20px;
	border-radius: 10px;
	margin-bottom: 10px;
}

.pressure-bar {
	height: 100%;
	width: 100%;
	background-color: #4CAF50;
	border-radius: 5px;
	transition: width 0.1s ease;
}




#message-container p {
	color: #80ff8f;
	width: 100%;
	text-align: center;
}

#message {
	font-size: 20px;
}




.time {
	background-color: transparent;
	color: #ffffff;
	font-family: monospace;
	font-size: 10px;
	margin: 0;
	padding: 0;
}

body.no-drop {
	cursor: not-allowed;
}

.slider input[type="range"] {
	width: 80%;
	-webkit-appearance: none;
	appearance: none;
	outline: none;
	overflow: hidden;
	touch-action: pan-y;
	border-radius: 20px;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 50px;
	background: #00ff08;
	cursor: pointer;
	border-radius: 20px;

	box-shadow: -100vw 0 0 100vw rgb(0, 93, 186);
}

input[type="range"]::-moz-range-thumb {
	width: 20px;
	height: 50px;
	background: #4CAF50;
	color: #00ff08;
	cursor: progress;
	border-radius: 50%;
	box-shadow: -100vw 0 0 100vw dodgerblue;
}


input[type="range"]::-webkit-slider-runnable-track {
	background: rgb(56, 93, 130);
	height: 100%;
}

.slider {
  position: relative; /* Делаем slider позиционирующим родителем */
  display: inline-block; /* Чтобы slider занимал только необходимое место */
}

.slider-value {
  position: absolute; /* Позиционируем значение относительно slider */
  top: -25px; /* Размещаем над слайдером */
  left: 50%;
  transform: translateX(-50%); /* Центрируем по горизонтали */
  background-color: rgba(0, 0, 0, 0.7); /* Делаем фон полупрозрачным */
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 12px;
}



/* Стили для панели курсоров */
#cursorPanel {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
	border-radius: 20px;
	display: none;
	z-index: 10;
	padding: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	overflow-y: auto;
}

.cursor-item {
	display: inline-block;
	margin: 5px;
	cursor: pointer;
}

.cursor-preview {
	width: 64px;
	height: 64px;
	border: 1px solid #00cc4100;
	padding: 2px;
}

.cursor-item:hover .cursor-preview {
	border-color: hsl(69, 100%, 52%);
}

.canvas-container {
	position: relative;
}

.canv-container {
	position: relative;
}



.word-navigation {
	display: flex;
	align-items: center;
	/* justify-content: center; */
	margin-bottom: 10px;
	z-index: 10;
}



#eyedropperBtn.active {
	background-color: rgb(0, 255, 0);
}

button.active {
	background-color: var(--button-active-color);
}

#cursorList img {
	max-width: 64px;
	max-height: 64px;
}

img {
	/* transform: scale(1.1); */
	border-radius: 100px;
}


img:hover {
	transform: scale(1.01);
	box-shadow:
		0px 0px 100px rgba(23, 201, 0, 0.5),
		/* Outer shadow (green) */
		inset 0px 0px 150px rgba(23, 201, 0, 0.5);
	/* Inner shadow (black) */
	border-radius: 100px;
}


.icon-hover:hover {
	transform: scale(1.31);
	box-shadow:
		0px 0px 100px rgba(23, 201, 0, 0.5),
		/* Outer shadow (green) */
		inset 0px 0px 150px rgba(23, 201, 0, 0.5);
	/* Inner shadow (green) */
	border-radius: 100px;
}

.icon-hover {
	/* Styles applied in the normal state */
	/* transform: scale(1.01); */
	box-shadow:
		0px 0px 100px rgba(225, 0, 255, 0.201),
		/* Outer shadow (green) */
		inset 0px 0px 150px rgba(255, 0, 255, 0.217);
	/* Inner shadow (green) */
	border-radius: 100px;
}




/* Стили для колорпикеров */
.color-picker-group {
	display: flex;
	flex-direction: row;
	/* justify-content: space-around; */
	margin-bottom: 10px;
	align-items: center;
}


.color-picker-group input[type="color"] {
	appearance: none;
	-webkit-appearance: none;
	border: none;
	padding: 0;
	cursor: pointer;
	overflow: hidden;

	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.color-picker-group input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;

}

.color-picker-group input[type="color"]::-webkit-color-swatch {
	border: none;
	border-radius: 0;
	border-radius: 50%;
}

.color-picker-group input[type="color"]::-moz-color-swatch {
	border: none;
	border-radius: 0;
}

.color-picker-group {
	display: flex;
	gap: 5px;
}